{% extends 'base.html' %}


{% block breadcrumb %}

      <li class="breadcrumb-item active">Boards</li>

</div>
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Board</th>
                    <th>Post</th>
                    <th>Topic</th>
                    <th>Last post</th>
                </tr>
            </thead>
            {% for x in board_posts_count %}
            <tbody>
                <tr>
                    <td>
                        <h6>
                            <a href="{% url 'topics' id=x.id %}">{{x.name}}</a>
                        </h6>
                        <p>{{x.description}}</p>
                    </td>
                    <td>{{x.num_posts}}</td>
                    <td>{{x.num_topics}}</td>
                    <td>{{x.last_posts}} by {{x.last_post_user_name}}</td>
                  </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>


{% endblock content %}