
{% extends 'base.html' %}

{% block title %}Start a New post{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'board' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="">{{ topic.board.name }}</a></li>
<li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}

{% block content %}
<div class="form-group">
<form method="POST" action="{% url 'reply_post' topic.id %}">
    {% csrf_token %}

    <label for="message">message:</label>
    <input type="text" id="message", name="message" class="container"  >
    <br><br>
    <button type="submit" class="btn btn-success ">Post</button>
</form>
</div>

{% endblock content %}