{% extends 'base.html' %}


{% block breadcrumb %}

<li class="breadcrumb-item active"><a href="{% url 'board' %}" style="color:black;">Boards</a></li>
<li class="breadcrumb-item active">{{ board.name }}</li>

</div>
{% endblock %}


{% block content %}

<div class="container mt-3">
    <div class="mb-4">
        <a href="{% url 'new_topic' id=board.id %}" class="btn btn-primary">Add New topic</a>
    </div>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Topic</th>
                <th>starter</th>
                <th>replies</th>
                <th>last update</th>
            </tr>
        </thead>
        {% for x in board_topics %}
        <tbody>
            <tr>
                <th>
                    <a href="{% url 'new_post' id=x.topics__id %}">{{x.topics__subject}}</a>
                </th>
                <th>{{x.topics__starter__username}}</th>
                <th>{{x.num_posts}}</th>
                <th>{{x.last_posts_user_name}}</th>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    
</div>


{% endblock content %}