{% extends "master.html" %}

{% block content %}

<style>
    .content {
        max-width: 500px;
        margin: auto;

    }
</style>


<div class="content">
    <form action="{% url 'add' %}" method="post"> {% csrf_token %}
        <div class="form-group">
            <label for="firstname" id="text">Firstname : </label>
            <input type="text" id="firstname" name="firstname" >
        </div>
        <br>
        <div class="form-group">
            <label for="lastname" id="text">Lastname :</label>
            <input type="text" id="lastname" name="lastname" >
        </div>
        <br>
        <div class="form-group">
            <label for="phone" id="text">Mobile no. :</label>
            <input type="phone" id="phone" name="phone" >
        </div>
        <br>
        <div class="form-group">
            <label for="date" id="text">Joined Date :</label>
            <input type="date" id="date" name="date">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add Member</button>
    </form>
</div>
{% endblock %}