{% extends "master.html" %}
{% load static %}

{% block title %}
My Tennis Club - List of all members
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Mobile number</th>
      <th>joined date</th>
      <th>update</th>
    </tr>
  </thead>
  <tbody>
    {% for x in mydata %}

    <tr>
      <td>{{ x.id }}</td>
      <td>{{ x.firstname }}</td>
      <td>{{ x.lastname }}</td>
      <td>{{ x.phone }}</td>
      <td>{{ x.joined_date }}</td>
      <td>
        <div class="row">
          <div class="col">
            <form action="{% url 'delete' id=x.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">delete</button>
            </form>
          </div>

          <div class="col">
            <form action="{% url 'edit' id=x.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary">Edit</button>
            </form>
          </div>
        </div>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<form action="{% url 'add' %}" >

  <button type="submit" class="btn btn-primary" >Add Members</button>
</form>
{% endblock %}